.list-todo-container {

    button {
        cursor: pointer;
        border-radius: 5px;
    }

    .add-todo {
        width: 400px;
        margin: 0 auto;

        .add {
            margin: 0 10px;
        }
    }

    .list-todo-content {
        width: 400px;
        margin: 0 auto;

        .todo-child {

            &:first-child {
                border-top: 1px solid gray;

            }

            height: 40px;
            border-bottom: 1px solid gray;
            margin: 10px;

            .edit {
                margin: 0 10px;
            }
        }
    }
}

button {
    cursor: pointer;
    border-radius: 5px;
}